@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply font-lato text-base text-secondary bg-[#f7f7f8];
    }

    section {
        @apply pt-[4.5rem] pl-0 pr-0 pb-8;
    }

    h1,h2,h3 {
        @apply text-primary font-bold;
    }

    h1,h2,h3,p {
        @apply leading-[140%];
    }

    ul {
        @apply list-none;
    }

    a {
        @apply no-underline;
    }

    img {
        @apply max-w-full h-auto;
    }
}

@layer components {
    button {
        @apply border-none outline-none cursor-pointer inline-block bg-black text-base text-white uppercase py-4 px-7 rounded-md;
    }

    .products-line {
        position: relative;
    }

    .products-line::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 50px;
        background-color: #bdc0c2;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .products-card {
        @apply bg-white rounded-lg overflow-hidden;
    }

    .product-btn {
        position: absolute;
        top: -1.25rem;
        right: 1rem;
        border-radius: 50%;
        display: inline-flex;
        padding: .625rem;
        font-size: 1.25rem;
        box-shadow: 0 4px 12px rgba(10, 10, 11, 0.2);
    }
}

/* * {
    @apply border border-solid border-red-600;
} */

.section-title {
    position: relative;
    font-size: 1.5rem;
    padding-left: 1.25rem;
    margin-bottom: 2.5rem;
}

.section-title::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 20px;
    background-color: gold;
}

/* navbar */
.nav-item {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    transition: .3s;
}

nav .show-menu {
    right: 0;
}

.navbar-fixed {
    @apply fixed z-fixed bg-tumbas transition duration-500;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

/* products */
.product-img {
    width: 150px;
    transition: .4s;
    margin: auto;
}

.products-shape {
    background-color: #e6e6e6;
    padding: .25rem 0;
}

.product-data {
    position: relative;
    padding: 1rem 0 1.25rem 1rem;
}

.product-price {
    font-size: 1.25rem;
}

.product-name {
    font-size: 1rem;
}

.active-product .product-title {
    color: black;
}

/* show scroll up */
.scroll-up {
    bottom: 3rem;
}

/* active link */
.active-link {
    font-weight: 900;
}